bin
obj
doc-gen
doc-gen-exception
packages
webapp
output
*.suo
*.csproj.user
*.dbmdl
*.mdf
*.ldf
*.IntegrationTests/**/*.feature.cs
_ReSharper*/
*.[Rr]e[Ss]harper
*.DotSettings.user
*.log
log/
/.vs/
.idea
Payback.PayApi.IntegrationTests/.vs/
*.orig
